{{ ansible_managed | comment }}

[Desktop Entry]
Name=Hyprland (UWSM)
Comment=Hyprland Wayland compositor managed by Universal Wayland Session Manager
Exec=uwsm start hyprland.desktop
Type=Application
DesktopNames=Hyprland
