{{ ansible_managed | comment('c') }}
//
// Browser user preferences
// Reference: https://kb.mozillazine.org/About:config_entries

{% for key, value in __browser_template_prefs | dictsort %}
{% if value is sameas true %}
user_pref("{{ key }}", true);
{% elif value is sameas false %}
user_pref("{{ key }}", false);
{% elif value is number %}
user_pref("{{ key }}", {{ value }});
{% else %}
user_pref("{{ key }}", "{{ value }}");
{% endif %}
{% endfor %}
